<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :is_reproducible %><br>
    <%= f.check_box :is_reproducible %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, Issue.categories, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :category %><br>

    <%= f.radio_button :category, "Bug" %>
    <%= f.label :category, "Bug", value: "Bug" %>

    <%= f.radio_button :category, "Feature Request" %>
    <%= f.label :category, "Feature Request", value: "Feature Request" %>

    <%= f.radio_button :category, "Customer Service" %>
    <%= f.label :category, "Customer Service", value: "Customer Service" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
